
.span3{
	background-color: #E3F5D5;
	border: 3px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
.span7{
	float: left;
}
#makeTab{
	background-color: #E3F5D5;
	border: 3px solid black;
	opacity: .90;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .90;
    -moz-opacity: .90;
}
#cosplayTab{
	background-color: #E3F5D5;
	border: 3px solid black;
	opacity: .90;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .90;
    -moz-opacity: .90;
}
#volunteerTab{
	background-color: #E3F5D5;
	border: 3px solid black;
	opacity: .90;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .90;
    -moz-opacity: .90;
}
.nav{
	background-color: #E3F5D5;
	border: 3px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
body{
	background-image: url(img/space.jpg); 
	background-repeat: repeat;
}

.social-container{
	float: right;
	vertical-align: middle;
	border: 3px solid black;
}
.facebook{
	height: 50px;
	width: 50px;
	background: url(img/fblogo.png);
	background-color: #E3F5D5;
	border: 1px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
.twitter{
	height: 50px;
	width: 50px;
	background: url(img/twitter.png);
	background-color: #E3F5D5;
	border: 1px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
.git{
	height: 50px;
	width: 50px;
	background: url(img/git.png);
	background-color: #E3F5D5;
	border: 1px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
.tumblr{
	height: 50px;
	width: 50px;
	background: url(img/tumblr.png);
	background-color: #E3F5D5;
	border: 1px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
.linkedin{
	height: 50px;
	width: 50px;
	background: url(img/linkedin.png);
	background-color: #E3F5D5;
	border: 1px solid black;
	opacity: .85;
    filter: alpha(opacity=50); 
    -ms-filter: "alpha(opacity=50)"; 
    -khtml-opacity: .85;
    -moz-opacity: .85;
}
li{
	line-height: 25px;
}